upstream {{item.key}} {
    server {{ item.key }}:{{ item.value.port }};
}

server {
  listen 80;
  server_name {{ item.key }}.mcgair.com;
  location / {
    return 301 https://$host$request_uri;
  }    
}

server {
  listen 443 ssl;
  server_name {{ item.key }}.mcgair.com;
  ssl_certificate        /etc/ssl/certs/server.crt;
  ssl_certificate_key    /etc/ssl/certs/server.key;
  access_log /dev/stdout;
  error_log /dev/stderr;    

  location / {
    proxy_pass         http://{{ item.key }};
    proxy_redirect     off;
    proxy_set_header   Host $host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Host $server_name;
  }
}
